<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Steppe</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'graphics/mainEl/tablet.png')}}" }>

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- my css  -->
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename = 'css/main_css.css')}}">
    <!-- my js  -->
    <script src='{{ url_for('static', filename = 'js/main.js')}}' defer></script>
    <!-- bs5 css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- bs5 js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
  <div class="study">
    <button class="button-35" ><a href="/study_page" style="text-decoration: none; color: black;">Начать обучение</a></button>
  </div>
    <article class="main_artic" style="background-image: url(../static/graphics/mainEl/main\ ground.png)">
        <div class="container text-right">
            <!-- 1 block  -->
            <div class="row">
              <div class="col">
                
              </div>
              <div class="col">
                <h1 class="main_artic_head">1991 г.</h1>
                <h4 class="main_artic_text">Закрытие Семипалатинского ядерного полигона.</h4>
                 </div>
            </div>
            <!-- 2 block -->
            <div class="row">
                <div class="col">
                    <h1 class="main_artic_head" style="margin-top: 150px;">1991 г.</h1>
                    <h4 class="main_artic_text">Полет в космос первого космонавта-казаха 
                        Т. Аубакирова.</h4>
                  </div>
                <div class="col">
                   </div>
              </div>
              <!-- 3 block  -->
            <div class="row">
                <div class="col">
                  </div>
                <div class="col">
                    <h1 class="main_artic_head" style="margin-top: 200px;">1986 г.</h1>
                    <h4 class="main_artic_text">Декабрьские события (Алматы)</h4>

                   </div>
              </div>
              <!-- 4 block  -->
            <div class="row">
                <div class="col">
                    <h1 class="main_artic_head" style="margin-top: 300px;">1949 г.</h1>
                    <h4 class="main_artic_text">Первый наземный атомный взрыв на Семипалатинском ядерном полигоне</h4>
                  </div>
                <div class="col">
                   </div>
              </div>
              <!-- 5 blok  -->
            <div class="row">
                <div class="col">
                  </div>
                <div class="col " style="height: 600px;">
                    <h1 class="main_artic_head" style="margin-top: 450px;">1913 г.</h1>
                    <h4 class="main_artic_text">Издание общенациональной газеты «Казах».</h4>

                   </div>
              </div>
              <!-- 6 blocl  -->
              <div class="row">
                <div class="col" style="height: 1000px;">
                    <h1 class="main_artic_head" style="margin-top: 850px;">1730 г.</h1>
                    <h4 class="main_artic_text">Анракайская битва</h4>
                  </div>
                <div class="col">
                   </div>
              </div>

            </div>
            
    <!-- <div class="main_artic__contentR">
        <h1 class="main_artic_head">1991 г.</h1>
        <h4 class="main_artic_text">Закрытие Семипалатинского ядерного полигона.</h4>
    </div> -->
    </article> 
    <header class="main-head">
        <div class="layers">
            <div class="layer_head">
                <div class="layers_caption">hello</div>
            </div>
            <div class="layer layers__bg" style="background-image: url(../static/graphics/mainEl/intro_bg.png)"></div>
            <div class="layer layers__rh" style="background-image: url(../static/graphics/mainEl/intro_rh.png)"></div>
            <div class="layer layers__lh" style="background-image: url(../static/graphics/mainEl/intro_lh.png)"></div>
            <div class="layer layers__logo" style="background-image: url(../static/graphics/mainEl/intro_logo.png)"></div>
            <div class="layer layers__front" style="background-image: url(../static/graphics/mainEl/intro_fg.png)"></div>
            <!-- <div class="layer layers__main" style="background-image: url(../graphics/mainEl/main\ ground.png)"></div> -->
           
        </div>
    </header>

</body>
</html>